# Default ignored files
/../../../../../:WebstormProjects/Module1/untitled4/.idea/shelf/
/../../../../../:WebstormProjects/Module1/untitled4/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../:WebstormProjects/Module1/untitled4/.idea/httpRequests/
